.postUpload {
  position: sticky;
  bottom: 0;
  flex: 10;
  background-color: #fafafa;
}

.postUpload_form {
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.postUpload > progress {
  width: 100%;
}
