.post {
  width: 40%;
  margin: auto;
  border: 1px solid lightgray;
}

.post_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.post_header_about {
  display: flex;
  align-items: center;
}

.post_image > img {
  width: 100%;
  object-fit: contain;
}

.post_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post_footer_save {
}
