* {
  margin: 0;
  padding: 0;
}

.app {
  background-color: #fafafa;
}

.app_header {
  padding: 10px;
  background-color: #fff;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app_header_logo {
  object-fit: contain;
  height: 50px;
  cursor: pointer;
}

.app_signup {
  display: flex;
  flex-direction: column;
}
